# config/config.yml.sample
TAUTULLI_API_KEY: your_tautulli_api_key
TAUTULLI_URL: http://your_tautulli_ip:port/api/v2
DISCORD_TOKEN: your_discord_bot_token
CHANNEL_ID: your_channel_id
UPDATE_DAYS: 7
KEEP_DAYS: 7
TIME_RANGE_DAYS: 30
LANGUAGE: en

# Graph options
CENSOR_USERNAMES: true
ENABLE_DAILY_PLAY_COUNT: true
ENABLE_PLAY_COUNT_BY_DAYOFWEEK: true
ENABLE_PLAY_COUNT_BY_HOUROFDAY: true
ENABLE_TOP_10_PLATFORMS: true
ENABLE_TOP_10_USERS: true
ENABLE_PLAY_COUNT_BY_MONTH: true

# Graph colors
TV_COLOR: "#1f77b4"
MOVIE_COLOR: "#ff7f0e"

# Annotation options
ANNOTATE_DAILY_PLAY_COUNT: true
ANNOTATE_PLAY_COUNT_BY_DAYOFWEEK: true
ANNOTATE_PLAY_COUNT_BY_HOUROFDAY: true
ANNOTATE_TOP_10_PLATFORMS: true
ANNOTATE_TOP_10_USERS: true
ANNOTATE_PLAY_COUNT_BY_MONTH: true

# My Stats command options
MY_STATS_COOLDOWN_MINUTES: 5
MY_STATS_GLOBAL_COOLDOWN_SECONDS: 60
